rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Let all operations succeed so we are immune to auth-provider setup issues in the sandbox/iframe
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
